<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head.ejs') %>
</head>

<body>
    <%- include('./parts/header.ejs') %>
        <div class="container">
            <form action="" method="post" class="form">
                <input class="input" type="username" name="username" placeholder="username">
                <input class="input" type="password" name="password" placeholder="password">
                <button class="button">submit</button>
            </form>
        </div>
</body>

</html>