<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head.ejs') %>
</head>

<body>
    <%- include('./parts/header.ejs') %>
        <div class="container">
            <form class="createPost" action="" method="post">
                <input type="text" name="title">
                <textarea name="post" id="" cols="30" rows="10"></textarea>
                <button type="submit">post</button>
            </form>
        </div>

</body>

</html>