<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head.ejs') %>
</head>

<body>
    <%- include('./parts/header.ejs') %>
        <div class="container">
            <hgroup>
                <h1>Добро пожаловать сайт!!</h1>
                <h3>Для того чтобы <a class="mainA" href="/reg"> зарегистрировать </a> нового пользователя пройдите по
                    ссылке</h3>
                <h3>Для того чтобы <a class="mainA" href="/auth"> залогироваться </a> нового пользователя пройдите по
                    ссылке</h3>
            </hgroup>
        </div>

</body>

</html>