<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head.ejs') %>
</head>

<body>
    <%- include('./parts/header.ejs') %>
        <div class="container">
            <hgroup class="indexGroup">
                <h1>Добро пожаловать на сайт!!</h1>
                <h3>Для того чтобы <a class="mainA" href="/auth"> залогироваться </a> или
                    <a class="mainA" href="/reg"> зарегистрировать </a> нового пользователя
                    пройдите по одной из ссылок
                </h3>
            </hgroup>
        </div>

</body>

</html>