<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head.ejs') %>
</head>

<body>
    <%- include('./parts/header.ejs') %>
        <form action="" method="post">
            <input type="username" name="username">
            <input type="password" name="password">
            <input type="email" name="email">
            <input type="tel" name="phonenumber">
            <button>register</button>
        </form>
</body>

</html>