<header class="header">
    <nav class="nav">
        <ul class="btnList">
            <li class="btnLi"><a href="/" class="btnA">главная</a></li>
            <li class="btnLi"><a href="/users" class="btnA">пользователи</a></li>
            <li class="btnLi"><a href="/exit" class="btnA">exit</a></li>
        </ul>
    </nav>
</header>