<header class="header">
    <nav class="nav">
        <ul class="btnList">
            <li class="btnLi"><a href="/" class="btnA">main page</a></li>
            <li class="btnLi"><a href="/reg" class="btnA">registration</a></li>
            <li class="btnLi"><a href="/auth" class="btnA">autorization</a></li>
            <li class="btnLi"><a href="/users" class="btnA">users</a></li>
        </ul>
    </nav>
</header>