body {
    background-color: rgb(211, 149, 149);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {}

.btnList {
    display: flex;
    gap: 20px;
}

.btnLi {}

.btnA {}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 18px);
}

.form {
    display: flex;
    flex-direction: column;
}

.input {}

.button {
    cursor: pointer;
}

.mainA {
    background-color: rgba(255, 255, 255, 0.363);
    text-transform: uppercase;
}

.containerInner {
    width: 100%;
    display: flex;
}

.userNav {
    background-color: rgba(228, 108, 39, 0.329);
    padding: 50px 20px 0 20px;
    padding-top: 100px;

}

.miniNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userBtn {

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.userMenu {}

.img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.createPost {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.createPost textarea {
    width: 600px;
}

.info {
    margin: 100px 0 0 50px;
    text-align: center;
    align-content: center;
}

h4 {
    margin: 0;
    padding: 0 0 10px 0;
}

.h1 {}

.h4 {}

.personA {}

.innerContent {}

.post {
    background-color: rgba(255, 255, 255, 0.288);
}

.post h3 {
    background-color: rgb(102, 102, 102);
}