body {
    background-color: rgb(235, 183, 183);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    box-shadow: 0 3px 3px 3px;
    z-index: 300;
}

.nav {}

.btnList {
    display: flex;
    height: 50px;

}

.btnLi {
    margin-top: 14px;
    font-size: 20px;
    text-transform: uppercase;

}

.btnA {
    padding: 14px;
    transition: 0.4s ease all;
}

.btnA:hover {
    background-color: rgb(7, 7, 7);
    color: #fff;
}








.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 18px);
}

.form {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: min-content;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px;
}



.form input {
    width: 282px;
    height: 30px;
    padding-left: 20px;
    background-color: rgba(80, 40, 40, 0.479);
    color: #fff;
}

input::placeholder {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.form>input:first-child {
    border-radius: 10px 10px 0 0;

}

.form button {
    width: 308px;
    height: 30px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(59, 59, 59);
    color: #fff;
    text-transform: uppercase;
}

.form button:hover {
    color: #fff;
    background-color: rgb(97, 20, 20);
}

.button {
    cursor: pointer;
}

.mainA {
    background-color: rgba(182, 218, 25, 0.993);
    text-transform: uppercase;
}

.containerInner {
    width: 100%;
    display: flex;
}

.userNav {
    background-color: rgba(228, 108, 39, 0.329);
    padding: 50px 20px 0 20px;
    padding-top: 100px;
    z-index: 1;

}

.miniNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userBtn {

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.createPost {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.createPost textarea {
    width: 600px;
}

.info {
    margin: 100px 0 0 50px;
    text-align: center;
    align-content: center;
}

h4 {
    margin: 0;
    padding: 0 0 10px 0;
}

.post {
    background-color: rgba(255, 255, 255, 0.288);
}

.post h3 {
    background-color: rgb(102, 102, 102);
}

.indexGroup {
    margin-top: 300px;
    background-color: rgba(255, 255, 255, 0.548);
    height: min-content;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 30px 30px 30px 30px;
}

.indexGroup h1 {
    text-transform: uppercase;
}

.indexGroup a:hover {
    color: #fff;
    background-color: rgb(2, 2, 2);
}